<%= render "shared/nav" %>
<div id="hero-container">
    <div class="hero">
        <div class="hero-inner text-white">
            <h1 class="highlight-ylw">Howdy!</h1>
            <h2>I'm Gerard, a web-developer based out of San Francisco. <span style="color: #F0C808;">I like to make neat things!</span> I dig UX/UI design + development, pop-punk, and ramen. </h2>
        </div>
        <div class="headshot">
            <%= image_tag  "headshot.jpg" %>
        </div>
        <div class="scroll text-white text-center">
            <p>【ｓｃｒｏｌｌ　ｆｏｒ　ｇｏｏｄｎｅｓｓ】</p>
            <i class="fas fa-arrow-down animated infinite flash delay-1s"></i>
        </div>
    </div>
</div>
<%= image_tag  "transition-blue.svg" %>
<div id="about-container">
    <div id="about">
        <div class="about-inner-left order2">
            <div id="accordion-container">
            <p>I work in: </p>
                <a class="accordion">
                    <h2><i class="fas fa-chevron-right"></i> Front-End</h2>
                </a>
                <div class="accordion-content">
                    <ul>
                        <li>HTML + CSS</li>
                        <li>Javascript (ES6, Vue.js)</li>
                        <li>Wordpress</li>
                        <li>Sass</li>
                        <li>Bootstrap</li>
                    </ul>
                </div>
                <a class="accordion">
                    <h2><i class="fas fa-chevron-right"></i> Back-End</h2>
                </a>
                <div class="accordion-content">
                    <ul>
                        <li>Ruby</li>
                        <li>Ruby on Rails</li>
                        <li>SQL + PostgreSQL</li>
                        <li>Heroku</li>
                    </ul>
                </div>
                <a class="accordion">
                    <h2><i class="fas fa-chevron-right"></i> Design</h2>
                </a>
                <div class="accordion-content">
                    <ul>
                        <li>Sketch</li>
                        <li>Figma</li>
                        <li>Photoshop + Illustrator</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about-inner-right order1">
            <h2 class="highlight-blu">About Me</h2>
            <div class="about-content">
              <p>After five years in digital marketing, I felt the need for a new challenge. I was freelancing as a front-end dev and decided to make the career switch. I attended Le Wagon's full-stack web development program in Tokyo and gained the skills I needed to become a full-fledged developer. </p>
              <p>I love integrating design and development. I've set my sights on creating experiences for users that are both elegant and functional. </p>
              <p>Outside of development, I'm a multi-instrumentalist playing in different groups in the bay area. I live for the best bowls of ramen and Magic: The Gathering. </p>
           </div>
        </div>
    </div>
</div>

<div id="project-container">
    <div id="project-section">
        <div class="project-intro">
            <h2 class="highlight-ylw">Projects</h2>
        </div>
        <div id="projects">
            <div id="project-tabs">
                <a :class="{ 'active-tab' : currentTab == 1 }" @click.prevent="selectTab(1)" href="">AFFINI</a>
                <a :class="{ 'active-tab' : currentTab == 2 }" @click.prevent="selectTab(2)" href="">EDUMATE</a>
                <a :class="{ 'active-tab' : currentTab == 3 }" @click.prevent="selectTab(3)" href="">THESTRAYSHEEP</a>
            </div>
            <div v-if="currentTab == 1" class="project-container">
                <div class="project-desc order2">
                    <h3>Affini</h3>
                    <p>Affini is a relationship manager aimed at helping people nurture new connections and maintain current ones. </p>
                    <p>Built as part of a two-week product sprint at Le Wagon's bootcamp, Affini was built by me and three other team members to showcase everything we've learned over the course of the program. </p>
                    <p>Affini was built using Ruby on Rails using Javascript, Ruby, and HTML/CSS. I developed the design system as well as the CSS framework that the team used to create different components. Designed from the ground up from building wireframes in Figma, all the way to deployment on Heroku. </p>
                    <a href="www.affini.me" target="_blank">Visit the site</a>
                    <a href="https://github.com/pillowbug/Affini" target="_blank">Peep the code</a>
                </div>
                <div class="project-image order1">
                    <%= image_tag "affini_vid.gif", :size => "500x273" %>
                </div>
            </div>
            <div v-if="currentTab == 2" class="project-container">
                <div class="project-desc order2">
                    <h3>Edumate</h3>
                    <p>Edumate is a peer-to-peer class sharing platform. Users can take classes taught by other users while also being able to host their own classes.</p>
                    <p>Developed over the course of one week, this marketplace app was our first group project, cementing our practices of pair programming, version control practices through Git and Github, as well as collaboration and the bootcamp curriculum. </p>
                    <a href="http://edumate-310.herokuapp.com/" target="_blank">Visit the site</a>
                    <a href="https://github.com/pillowbug/rails-edumate" target="_blank">Peep the code</a>
                </div>
                <div class="project-image order1">
                    <%= image_tag  "edumate_vid.gif", :size => "500x273" %>
                </div>
            </div>
            <div v-if="currentTab == 3" class="project-container">
                <div class="project-desc order2">
                    <h3>TheStraySheep</h3>
                    <p>This is a personal project developed over the course of Le Wagon's full-stack development bootcamp. It was built to demonstrate many-to-many associations in a relational database. It was also an opportunity to demonstrate our design abilities and knowledge of front-end technologies. </p>
                    <a href="https://thestraysheep.herokuapp.com/" target="_blank">Visit the site</a>
                    <a href="https://github.com/pillowbug/rails-mister-cocktail" target="_blank">Peep the code</a>
                </div>
                <div class="project-image order1">
                    <%= image_tag  "straysheep_vid.gif", :size => "500x273" %>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contact-container">
    <div id="contact">
        <div class="contact-left order2">
            <div class="form-container">
                <form action="https://formspree.io/xknjqbeo" method="POST">
                    <label>
                    Your email:
                    <input type="text" name="_replyto">
                    </label>
                    <label>
                    Your message:
                    <textarea name="message"></textarea>
                    </label>
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
        <div class="contact-right order1">
            <h2 class="highlight-blu">Let's talk</h2>
            <p>Looking for a new teammate? Want to collaborate on a project? Shoot me an email. I'll respond to you within 24 hours. </p>
            <p>Be well!</p>
            <p>Gerard</p>
        </div>
        <div class="mini-footer order3">
            <p>Made with love, coffee, and the power of anime.</p>
            <ul class="social">
                <li><a href="https://www.linkedin.com/in/gerard-cabarse/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.facebook.com/gerard.sleeptalkers" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://github.com/pillowbug/" target="_blank"><i class="fab fa-github"></i></a></li>
            </ul>
        </div>
    </div>
</div>
<script>

    var accordions =  document.getElementsByClassName("accordion");
    for (var i = 0; i < accordions.length; i++) {
        accordions[i].onclick = function() {
            this.classList.toggle('active');
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
                content.style.maxHeight = null; 
            } else {                
                content.style.maxHeight = content .scrollHeight + "px"; 
            };
        }
    };

    var slideTab = new Vue ({
        el:"#projects",
        props: {
            value: String
        },
        data: function(){
            return { currentTab: 1 }
        },
        methods: {
            selectTab(selectedTab){
                this.currentTab = selectedTab
            }
        }
    })
</script>